.footer{
    background-color: black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-top: 2px solid #f44336 ;
    padding-block: 0.75rem;
    width: 100%;
}

.footer h2{
    font-size: 1rem;
    font-weight: 500;
}